.cardDatas{
    flex-direction: row;
    justify-content: space-between;
}

.buttons{
    width: 3rem;
    flex-direction: column;
    justify-content: space-between;
}

.cardText{
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}